@import (less) "node_modules/@simonwep/pickr/dist/themes/monolith.min.css";

.clrp {
    left: 0px !important;
}

p {
    font-size: 20px;
    font-weight: bold;
    em {
        background: yellow;
        padding: 5px;
        
    }
}

svg {
    z-index: -1 !important;
}

.axis text {
    font: 1em sans-serif;
}

.axis .label {
    font-size: 1.2em;
    font-weight: 700;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.avg path,
.avg line{
    stroke: red !important;
    stroke-width: 3px;
    fill: red !important;
    fill-opacity: 0.7;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path,
.grid line{
    stroke: grey;
    fill: none;
    fill-opacity: 0.7;
    stroke-opacity: 0.5;
    shape-rendering: crispEdges;
}

.sidebar {
    display: inline;
    fill: black;
}

.categorylabel{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 0.9em;
}

.categorydata{
    font-family: sans-serif;
    font-size: 0.9em;
}

.uidiv{
    cursor: default;
    position: absolute;
}

.fo1{
    cursor: pointer !important;
    background-image: linear-gradient(to right, lightgreen , darkgreen);
    width: 100%;
    opacity: 0.7;
    height:100%;
    border-radius: 15%;
    margin: 0 auto;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.fo2{
    cursor: pointer !important;
    background-image: linear-gradient(to right, rgb(243, 69, 26) 0%, rgb(243, 69, 26) 50%, rgb(82, 223, 216) 51%, rgb(82, 223, 216) 100%);
    opacity: 0.7;
    width: 100%;
    height:100%;
    border-radius: 15%;
    margin: 0 auto;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.fo3{
    cursor: pointer !important;
    background-image: linear-gradient(to right, rgb(243, 69, 26) , rgb(229, 243, 26) , rgb(82, 223, 176) , rgb(82, 92, 223) );
    opacity: 0.8;
    width: 20px;
    height:20px;
    border-radius: 15%;
    margin: 0 auto;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
}

.fo3:hover {
    opacity: 1;
}

.fo1:hover{
    opacity: 1;
}
.fo2:hover{
    opacity: 1;
}

#d0{
    background-image: linear-gradient(to right, #c03221 0%, #c03221 50%, #0000ff 51%, #0000ff 100%) !important;
    color:white !important;
}

#d1{
    background-image: linear-gradient(to right, #25109a 0%, #25109a 50%, #599879 51%, #599879 100%) !important;
    color:white !important;
}

#d2{
    background-image: linear-gradient(to right, #8dbeb2 0%, #8dbeb2 50%, #e2c787 51%, #e2c787 100%) !important;
}

#d3{
    background-image: linear-gradient(to right, #e13933 0%, #e13933 50%, #0f535a 51%, #0f535a 100%) !important;
    color:white !important;
}

#d4{
    background-image: linear-gradient(to right, #e3ac27 0%, #e3ac27 50%, #808c7c 51%, #808c7c 100%) !important;
}

#l1{
    background: lightgrey !important;
    opacity: 1 !important;
    border: 1px solid rgb(92, 92, 92);
    box-sizing: border-box;
    border-radius: 4px;
}

#l2{
    background: rgba(128, 128, 128, 0.308) !important;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.308);
}

#caret{
    opacity: 0.7
}

#caret:hover{
    opacity: 1
}


#maindiv {
    display: none;
}



